.body { 
    margin: 0;

}
.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.header_title_wrp {
    float: left;
}

.header {
    width: 100%;
    background-color: #445162;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

.header:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.Product_name {
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header_ul {
    clear: both;
    padding: 0;
    margin: 10px 0 0 0;
}

.header_ul_list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    list-style-type: none;
}

.header_ul_list:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 19px;
    background-color: #445162;
    background-image: url(../img/header_list_style.png);
    margin: 0 10px 0 0;
}

.header_img {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
    margin: 0;
    display: block;
}

.about_product {
    width: 100%;
    min-height: 345px;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

.about_product_wrp {
    float: left;
    width: 650px;
}

.about_product_name {
    margin: 0;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about_product_content {
    margin: 30px 0 0 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about_product_img {
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
    margin: 0;
}

.about_product:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.dignity_and_pluses {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}
.dignity_and_pluses:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.dignity_and_pluses_name {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;

}

.dignity_and_pluses_ul {
    padding: 0;
    margin: 0;
   /*  min-height: 360px; */
    clear: both;
}

.dignity_and_pluses_list {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
    list-style-type: none;
    width: 570px;
    float: left;
    margin: 0 0 20px 0;
}

.dignity_and_pluses_list:nth-child(5),
.dignity_and_pluses_list:nth-child(6) {
    margin: 0;
}

.dignity_and_pluses_list:nth-child(2),
.dignity_and_pluses_list:nth-child(4),
.dignity_and_pluses_list:nth-child(6) {
    margin-left:  15px;
}

.dignity_and_pluses_list:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    background-image: url(../img/Dignity_list_style.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin: 0px 10px 50px 0px;
}

.dignity_and_pluses:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.screenshots {
    width: 100%;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

.screenshots_title {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.screenshots_block {
    display: inline-block;
    clear: both;
    margin: 0 0 20px 0;
    width: 578px;
}
.screenshots_block:nth-child(3) {
    margin-left: 15px;
}
.screenshots_block:nth-child(4) {
    margin: 0;
}

.screenshots_block:nth-child(5) {
    margin: 0 0 0 15px;
}
.screenshots_img {
    margin: 0;
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin: 0 15px 0 0;
}

.screenshots_name {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 10px 0;
}

.screenshots_content {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 0 0;
}

.reviews {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.reviews:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.reviews_name {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    width: 100%;
}

.reviews_block {
    width: 574px;
    margin: 0 0 30px 0;
    float: left;
    display: flex;
    justify-content: space-between;
}

.reviews_block:nth-child(3) {
    margin: 0 0 30px 30px;
}

.reviews_block:nth-child(4) {
    margin: 0;
}

.reviews_block:nth-child(5) {
    margin: 0 0 0 30px;
}

.reviews_content_wrp {
    width: 470px;
    background-color: #ebebeb;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.reviews_content_wrp:before {
    content: "";
    display: block;
    width: 12px;
    height: 24px;
    background-image: url(../img/caret_reviews.png);
    position: absolute;
    left: -12px;
    top: 24px;

    
}
.reviews_avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    float: left;
}

.reviews_content {
    background-color: #ebebeb;
    margin: 0 0 10px 0;
}

.reviews_footer {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.buy {
    width: 100%;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.buy_name {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    width: 100%;
}

.buy:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}

.buy_section {
    background-color: #445162;
    border-radius: 2%;
    margin: 0 23px;
    width: 300px;
}

.buy_section_name {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0;
}

.buy_section_price {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #445162;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    line-height: 67px;
    font-weight: 400;
    color: #445162;
}

.buy_section_list {
    margin: 20px;
    padding: 0 0 0 20px;
}

.buy_section_list_item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy_section_btn {
    display: block;
    width: 260px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #445161;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 20px auto;
}

.buy_section_btn:hover,
.buy_section_btn:focus {
    background-color: #ccc;
    outline: none;
}

.buy_section_btn:active{
    background-color: #ffffff;
}



.footer {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
width: 100%;
background-color: #445162;
margin: 0;
padding: 50px;
box-sizing: border-box;

}
.footer_name{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 30px 0;
}
.footer_form{
    width: 500px;
    margin: 0 45px 0 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_form_text,
.footer_form_email {
    width: 500px;
    height: 40px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    box-sizing:border-box;
    padding: 10px;

}
.footer_form_text[placeholder],
.footer_form_email[placeholder],
.footer_form_area[placeholder]{
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer_form_area {
    width: 500px;
    min-height: 170px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    box-sizing:border-box;
    padding: 10px;
}
.footer_form_btn {
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
   text-transform: uppercase;
   border-radius: 5px;
   box-sizing:border-box;

}
.footer_form_text:hover,
.footer_form_email:hover,
.footer_form_area:hover,
.footer_form_text:focus,
.footer_form_email:focus,
.footer_form_area:focus {
    outline: none;
    background-color: #ccc;
}

.footer_form_btn:hover,
.footer_form_btn:focus {
    background-color: #ccc;;
    outline: none;

}
.footer_form_btn:active {
    background-color: #fff;
}

.footer_contacts{
    width: 435px;
}
.footer_contacts_list {
    width: 100%;
    margin: 0;
    padding: 0;

}
.footer_contacts_list_item {
    list-style-type: none;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #e2e3e5;
    margin: 0 0 20px 0;
}

.footer_contacts_list_item:nth-child(4) {
   margin: 0; 
}
.footer_contacts_social_links {
    margin: 30px 0 0 0;

}
.footer_contacts_social_link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px 0 0;
    color: #445162;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
}

.footer_contacts_social_link:focus {
    outline: none;
}
.copyright {
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: #fff;
    color: #445162;
    font-size: 12px;
    line-height: 25px; 
}
